/* app/styles/base.css */
html {
  color: var(--color-text);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-base);
}

img {
  max-width: 100%;
  display: block;
}
