/* app/styles/base.css */
html {
  color: var(--color-text);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}
