/* app/styles/layout.css */
.container-main {
  max-width: 1920px;
  margin-inline: auto;
  padding-inline: clamp(16px, calc(32px + 224px * (100vw - 750px) / 1170px), 256px);
}

.section {
  padding-block: clamp(40px, 8vw, 120px);
}
